// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #758BFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$card-bg: #141526;
$font-color: #F2F4FF;
$boody-background: #13131C;
