<div data-controller="valuation chartkick" data-product-id="<%= current_user.id %>">
  <div class="card card-trip">
    <h1 class="" data-valuation-target="total">$<%= number_with_delimiter(@total_valuation.round(2), delimiter: ",") if defined? number_with_delimiter(@total_valuation.round(2), delimiter: ',') %></h1>
    <%= line_chart charts_valuation_history_path, points: false, min: current_user.valuations.map { |valuation| valuation.total_valuation }.min - 3000 %>
  </div>
  <div>
    <% @articles.flatten.each do |article| %>
      <%= render 'products/news_card', article: article %>
    <% end %>
  </div>
</div>
