<div class="card w-25 border border-dark card-dashboard">
  <div class="row">
    <div class="col-sm">
      <h5 class="card-title text-dark pl-2 pt-1 m-0"><%= product_price_pair[0][0].name %></h5>
      <p class="card-subtitle mb-2 text-muted pl-2" ><%= product_price_pair[0][0].ticker %></p>
      <h3 class="text-dark font-weight-bold pl-2">123.12</h3>
    </div>
    <div class="col-sm">
      <h1 class="text-dark">Chart</h1>
    </div>
  </div>
</div>
