<div class="row">
  <div class="col-sm-4 bg-card-bg card-sm-font p-2">
    <h6 class="card-title pl-3 pt-1 m-0"><%= product.name %></h6>
    <p class="card-subtitle mb-2 text-muted pl-3" ><%= product.ticker %></p>
    <h4 class="font-weight-bold pl-3">123.12</h4>
  </div>
  <div class="col-sm-8 bg-card-bg card-sm-font chart-card p-0 ">
    <%= line_chart @products_valuation_pair %>
  </div>
</div>
