<div class="container-fluid">
  <div class="card">
    <%= image_tag 'https://imgix.gizmodo.com.au/content/uploads/sites/2/2020/08/27/stonks.jpg?ar=16%3A9&auto=format&fit=crop&q=80&w=1280&nrs=40' %>
  </div>

</div>