<div class="container-fluid">
  <div class="row">
    <div class='col-8'>

      <%= render 'users/chart-card', valuation: @valuation %>
    </div>
    <div class="col-4">
          <div class="mt-3 col-8 stock-cards">
            <% @products.each do |product| %>
            <%= render 'users/small-card', product: product, price: product.get_product_price, purchases: current_user.purchases%>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
