<div class="d-flex mr-5">
  <!-- left -->
  <div class="col-8">
    <!-- valuation and big chart (left top) -->
    <div style="overflow:hidden;">
      <%= render 'users/chart-card', valuation: @valuation %>
    </div>
    <!-- News articles (left bottom) -->
    <div>
      <h1 class="mt-3 text-white ml-5">News</h1>
      <% @finnhub_articles.each do |article| %>
      <%= render 'users/finnhub_news_card', article: article %>
      <% end %>
    </div>
  </div>
  <!-- right -->
  <div class="col-4">
    <!-- Stock cards (top right) -->
    <div class="sticky-top" >
      <div class="mt-3 col- stock-cards" style="">
        <% @products.each do |product| %>
          <%= render 'users/small-card', product: product, price: product.get_product_price, purchases: current_user.purchases%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

