<div class="container text-center">
  <h1>Sorry we could not handle your purchase</h1>
  <h3><%= link_to "Go back to dashboard", dashboard_path %></h3>
  <%= image_tag "https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/01/12/16/sorry-note-rex.jpg?width=1368&auto=webp&quality=75", alt: "Sorry", class: "w-50" %>
</div>
