<div data-controller="search" class="mr-4">
  <%= form_tag products_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control form-color form-radius",
  placeholder: "",
  data: {
  action: "keyup->search#fetchResults",
  search_target: "input"
  }
  %>
  <%= submit_tag "Search", class: "btn btn-primary btn-border btn-radius btn-font-color" %>
  <% end %>
  <div class="dropdown">
    <div class="list-group dropdown-menu" style="padding: 0;" data-search-target="results">
      <!-- insert results here -->
    </div>
  </div>
</div>
