<div id="container">
  <div data-controller="search">
    <%= form_tag products_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control w-75% form-color form-radius",
        placeholder: "",
        data: {
          action: "keyup->search#fetchResults",
          search_target: "input"
        }
      %>
      <%= submit_tag "Search", class: "btn btn-primary btn-border" %>
      <ul data-search-target="results">

      </ul>
    <% end %>
  </div>
</div>