<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,-0.4),rgba(0,0,0,1.4)), url(https://image.freepik.com/free-vector/stock-market-graph-forex-trading-chart-business_87788-126.jpg);">
  <div class="container">
    <h1 >Welcome to your Simple Portfolio</h1>
    <p>Never be confused, Stay ahead of the game</p>
    <a class="btn btn-primary btn-border btn-font-color" href="/dashboard">To Your Porftolio</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-around mx-3">
    <div class="col-6">
      <div class="card-product">
        <%= image_tag 'https://www.naturalnews.com/gallery/640/Money/Confused-Stock-Market.jpg', class: 'img-border' %>
        <div class="card-product-infos">
          <h4>Why struggle?</h4>
          <p>Having trouble organizing through all your stocks/crypto platforms?</p>
        </div>
      </div>
  </div>
    <div class="col-6 card-product">
        <%= image_tag 'https://m.economictimes.com/thumb/msid-63244708,width-1200,height-900,resizemode-4,imgsize-145849/stock-thinkstock.jpg', class: 'img-border' %>
      <div class="card-product-infos">
        <h4>When you dont need to...</h4>
        <p>Simple Portfolio is your one-stop-shop where you can consolidate all your assets across all platforms into one!</p>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>