.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #F2F4FF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-left: -25px;
}

.banner p {
  font-size: 20px;
  color: #F2F4FF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
