.form-color {
  background-color: #21212f;
}

.form-radius {
  border-top-right-radius: 2px; !important
  border-bottom-right-radius: 2px; !important
}

.btn-radius {
  border-top-left-radius: 2px; !important
  border-bottom-left-radius: 2px; !important
}