.form-color {
  background-color: #21212f;
  border-color: #21212f;
}

.form-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-radius {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-font-color{
  color: #21212f;
}

.modal-header {
    border-bottom: 0 none;
}
