.navbar-lewagon {
  justify-content: space-between;
  background: #13131C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: #4000FF;
  margin: 8px;
}

.navbar-link {
  color: #878787;
}

ul {
  list-style-type: none;
}
