<div class="card-show card-trip col mb-5" >
  <div class="w-100 card-insights">
    <h3 class="text-white mb-5 mt-3 border-bottom">Insights</h3>
    <div class="d-flex justify-content-between card-show-margin">
      <h5>Shares</h5>
      <h2><%= purchases.sum(:shares).round(4) %></h2>
    </div>
    <div class="d-flex justify-content-between card-show-margin">
      <h5>Margin</h5>
      <h2><%= format_number(product.calc_margin(purchases))%></h2>
    </div>
    <div class="d-flex justify-content-between card-show-margin">
      <h5>Your Average Cost</h5>
      <h2>$<%= current_user.average_purchased_price(product).round(2) %></h2>
    </div>
  </div>
</div>
