<%# Product details, platforms, shares, graph news, link to platform %>
<div class="container">
  <h1><%= @product.name %>, <%= @product.ticker %></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card card-trip">
        <%= image_tag 'https://imgix.gizmodo.com.au/content/uploads/sites/2/2020/08/27/stonks.jpg?ar=16%3A9&auto=format&fit=crop&q=80&w=1280&nrs=40' %>
      </div>
    </div>
  </div>

</div>
